# ===== ENV =====
.env
.env.*

# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/

# ===== Virtual Environment =====
venv/
.venv/

# ===== VSCode =====
.vscode/

# ===== Mac =====
.DS_Store

# ===== Logs =====
*.log

# ===== Build / Cache =====
dist/
build/

# ===== Data Files =====
scripts/data/json/
scripts/data/json_in_db/
scripts/data/used/
scripts/data/**/*.pdf
scripts/data/raw/
